<div [style.width.px]="sidebarWidth"
  class="sidebar">
  <div class="sidebar-content">
    <div class="pt-3 pb-2 px-1">
      <app-project-switcher></app-project-switcher>
    </div>
    <div class="divider" style="margin-top:0; padding-top:0;"></div>

    @for (link of sideBarLinks; track link; let idx = $index) {
      <div>
        @if (link.url) {
          <a
            [routerLink]="link.url"
            routerLinkActive="active"
            class="link allowed">
            <svg-icon class="mr-4"
              [name]="link.icon"
              [size]="24">
            </svg-icon>
            <div class="pt-px text-15">{{ link.name }}</div>
          </a>
        }
        @if (!link.url) {
          <div
            class="link not-allowed">
            <svg-icon class="mr-4"
              [name]="link.icon"
              [size]="24">
            </svg-icon>
            <div class="pt-px text-15">{{ link.name }}</div>
            <div class="not-implemented">
              Not implemented
            </div>
          </div>
        }
        @if (idx === 1) {
          <div
          class="divider"></div>
        }
      </div>
    }
  </div>
</div>