<div class="px-10 py-8">
    <div class="pb-4 text-2xl font-medium leading-normal text-textDarkest">
        {{ 'issue.delete.title' | translate }}
    </div>
    <p class="pb-4 whitespace-pre-wrap text-15">{{ 'issue.delete.warning' | translate }}</p>
    <div class="flex pt-3">
        <j-button className="btn-primary mr-2" (click)="deleteIssue()">{{ 'issue.delete.confirm' | translate }}</j-button>
        <j-button className="'btn-empty'"
                  (click)="closeModal()">
            {{ 'issue.delete.cancel' | translate }}</j-button>
    </div>
</div>